<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/css/sidebar.css"
    />
    <!-- フォントの指定：Baloo+Bhai+2とNoto+Sans+JPを指定-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;700&family=Noto+Sans+JP:wght@100;200;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="navigation">
      <ul>
        <li class="list active">
          <a href="{{ url_for('index') }}">
            <span class="icon"><ion-icon name="home-sharp"></ion-icon></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li class="list active">
          <a href="{{ url_for('index') }}">
            <span class="icon"><ion-icon name="list-sharp"></ion-icon></span>
            <span class="title">Channel Lists</span>
          </a>
        </li>
        <li class="list active">
          <a href="{{ url_for('index') }}">
            <span class="icon"><ion-icon name="checkmark-sharp"></ion-icon></span>
            <span class="title">To Do List</span>
          </a>
        </li>
        <li class="list active logout">
          <a href="{{ url_for('logout') }}">
            <span class="icon"><ion-icon name="log-out-sharp"></ion-icon></span>
          </a>
        </li>
      </ul>
    </div>
  </body>
  <script
  type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
 </script>
 <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">
 </script>
</html>